header {
  background: linear-gradient(red, gray);
  padding: 50x;
  display: flex;
justify-content: space-between;
padding: 2vh 2vw;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  flex-direction: row;
  display: flex;
}
a {
  color: black;
  display: block;
  padding: 14px 16px;
  text-align: right;
  text-decoration: none;
}
a:hover {

  background-color: #e68282;
}
.header-image {
  text-align: center;
}