
.hero {
    gap: 3vw;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  
  .hero-inner {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  
  .hero-inner img {
    border-radius: 12px;
  }
  .welcome h1 {
    color: var(--red);
  }
  
  .welcome p {
    color: #d1d5db;
    text-align: justify;
  }
  